/* Gza Font Family Start  */
.gza_font{
    font-family: 'Gza';
}
.gza_outln{
    font-family: 'Gza Outline';
}
.gza_sup{
     font-family: 'Gza Super';
}
.gza_outln_sup{
     font-family: 'Gza Outline Super';
}
/* Gza Font Family End  */


/* Gza Font Family Start  */
.et30d{
    font-family: 'Extenda 30 Deca';
    letter-spacing: 1px;
}
.et40h{
    font-family: 'Extenda 30 Deca';
    letter-spacing: 1px;
}
.et70p{
    font-family: 'Extenda Trial 70 Peta';
    letter-spacing: 1px;
}

/* Gza Font Family End  */

/* Univers LT Std Font Family Start  */
.uleo{
     font-family: 'Univers LT Extended Oblique';
}
.ule{
    font-family: 'Univers LT Extended';
}
.ulo{
     font-family: 'Univers LT Oblique';
}
.ulr{
     font-family: 'Univers LT Roman';
}
.ulco{
     font-family: 'Univers LT Condensed Oblique';
}
.ulc{
     font-family: 'Univers LT Condensed';
}
.uluc{
     font-family: 'Univers LT Ultra Condensed';
}
.ultuc{
     font-family: 'Univers LT Thin Ultra Condensed';
}
.ullb{
     font-family: 'Univers LT Light Oblique';
}
.ull{
     font-family: 'Univers LT Light';
}
.ullco{
     font-family: 'Univers LT Light Condensed Oblique';
}
.ullc{
     font-family: 'Univers LT Light Condensed';
}
.ulluc{
     font-family: 'Univers LT Light Ultra Condensed';
}
.ulbdeo{
     font-family: 'Univers LT Bold Extended Oblique';
}
.ulbe{
     font-family: 'Univers LT Bold Extended';
}
.ulbo{
     font-family: 'Univers LT Bold Oblique';
}
.ulb{
     font-family: 'Univers LT Bold';
}
.ulbco{
     font-family: 'Univers LT Bold Condensed Oblique';
}
.ulbc{
     font-family: 'Univers LT Bold Condensed';
}
.ulbc{
     font-family: 'Univers LT Bold Condensed';
}
.ulbkeo{
     font-family: 'Univers LT Black Extended Oblique';
}
.ulbke{
     font-family: 'Univers LT Black Extended';
}
.ulbko{
     font-family: 'Univers LT Black Oblique';
}
.ulb{
     font-family: 'Univers LT Black';
}
.ulebo{
     font-family: 'Univers LT Extra Black Oblique';
}
.uleb{
     font-family: 'Univers LT Extra Black';
}
.ulebeo{
     font-family: 'Univers LT Extra Black Extended Oblique';
}
.ulebe{
     font-family: 'Univers LT Extra Black Extended';
}

/* Univers LT Std Font Family End  */