section.HeroBanner {
    position: relative;
    max-width: 100vw;
    overflow-x: clip;
}
section.HeroBanner > .backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.HeroBanner > .backgroundImage > .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}
section.HeroBanner > .outer {
    max-width: 1920px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
}
section.HeroBanner > .outer > .inner {
    max-width: 1320px;
    margin: 0 auto;
    padding: 250px 0 50px 0;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    grid-template-areas:
        "details taxonomies"
        "details title";
    grid-template-columns: minmax(150px, 1fr) minmax(auto, 868px);
}
section.HeroBanner > .outer > .inner .taxonomyContainer {
    grid-area: taxonomies;
    margin-left: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
section.HeroBanner > .outer > .inner > .taxonomyContainer > .taxonomy {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    cursor: pointer;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    margin-right: 0.5em;
    transition: border 200ms ease;
}
section.HeroBanner > .outer > .inner > .taxonomyContainer > .taxonomy:hover {
    border-color: #EBEBEB;
}
section.HeroBanner > .outer > .inner > .taxonomyContainer > .taxonomy > p {
    font-family: 'Univers LT Roman';
    font-size: 13px;
    line-height: 1.1;
    letter-spacing: 0;
    color: #EBEBEB;
    padding: 0.5em;
    text-transform: uppercase;
    transition: color 500ms ease;
    position: relative;
}
section.HeroBanner > .outer > .inner > .taxonomyContainer > .taxonomy:hover > p {
    color: #EBEBEB;
}
section.HeroBanner > .outer > .inner > h1 {
    font-size: 70px;
    font-family: 'Gza';
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #fff;
    grid-area: title;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0;
    overflow: hidden;
    font-weight: 400;
}
section.HeroBanner > .outer > .inner > .detailsCotnainer {
    grid-area: details;
    width: 100%;
    height: 100%;
    position: relative;
}
section.HeroBanner > .outer > .inner > .detailsCotnainer > .inner {
    position: absolute;
    bottom: 0;
    lefT: 0;
    width: 100%;
}
section.HeroBanner > .outer > .inner > .detailsCotnainer > .inner > .dateContainer > p {
    font-family: 'Univers LT Roman';
    font-size: 13px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: #EBEBEB;
    padding-bottom: 1em;
}

@media (max-width: 1080px) {
    section.HeroBanner > .outer {
        padding: 0 20px;
    }
    section.HeroBanner > .outer > .inner {
        padding: 120px 0 20px 0;
        grid-template-areas:
            "taxonomies"
            "title"
            "details";
        grid-template-columns: 1fr;
    }
    section.HeroBanner > .outer > .inner > h1 {
        margin: 0 0 1em 0;
        font-size: 46px;
    }
    section.HeroBanner > .outer > .inner > .detailsCotnainer > .inner {
        position: relative;
    }
    section.HeroBanner > .outer > .inner > .detailsCotnainer > .inner > .dateContainer > p {
        padding-bottom: 0;
    }
}