<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="../../../CSS/generalStyles.css" />
        <link rel="stylesheet" type="text/css" href="../../../CSS/articlestyles-liveCoverage.css" />
    </head>

    <body>
        <main style="padding-top: 150px;">

            <section class="introSection">
                <div class="background"></div>
                
                <div class="outer">
                    <div class="inner">
                        <div class="left">
                            <h2 class="font-x-large font-body">Intro Section Title : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id venenatis neque. Vestibulum facilisis, dui sed eleifend hendrerit, lectus elit egestas dolor, sit amet faucibus purus lectus hendrerit urna. Nulla in velit ut urna ultricies rhoncus eget non ex. Pellentesque condimentum maximus felis. Duis quis porttitor risus, ac eleifend urna. Nullam vitae ligula faucibus, imperdiet magna a, viverra lacus. Nam iaculis metus eget ante condimentum congue. Suspendisse ligula lorem, posuere sit amet dapibus ac, sodales a quam. Duis sit amet condimentum purus, sit amet accumsan nisi. Vestibulum ac viverra nisl. Fusce eu enim diam. Nunc consequat, diam in convallis tristique, urna felis scelerisque lectus, a commodo nisi mi id lorem.</h2>

                            <button class="shareButton">
                                <p>Share</p>

                                <div class="shareIcon" style="background-image: url(../../../assets/images/shareIcon.svg);"></div>
                            </button>
                        </div>

                        <div class="right">
                            <div class="image">
                                <img src="../../../assets/images/liveCoveragesArticles-backgroundIamge.png" alt="intro" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    </body>
</html> 