<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="../../../CSS/generalStyles.css" />
        <link rel="stylesheet" type="text/css" href="../../../CSS/articlestyles-liveCoverage.css" />
    </head>

    <body>
        <main>

            <section class="heroBanner">
                <div class="background" style="background-color: #000; background-image: url(../../../assets/images/liveCoveragesArticles-backgroundIamge.png);">
                    <div class="overlay-dark-50"></div>
                </div>
                
                <div class="outer">
                    <div class="inner">
                        <div class="taxonomies" style="grid-template-columns: repeat(2, auto);">

                            <div class="taxonomyButton">
                                <p class="font-small color-lighGrey-100" data-postType="Post Type">Taxonomy one</p>
                            </div>  

                            <div class="taxonomyButton">
                                <p class="font-small color-lighGrey-100" data-postType="Live Coverage">Taxonomy two</p>
                            </div>

                            <div class="taxonomyButton">
                                <p class="font-small color-lighGrey-100" data-postType="Live Coverage">Taxonomy three</p>
                            </div>

                            <div class="taxonomyButton">
                                <p class="font-small color-lighGrey-100" data-postType="Live Coverage">Taxonomy four</p>
                            </div>

                            <div class="taxonomyButton">
                                <p class="font-small color-lighGrey-100" data-postType="Live Coverage">Taxonomy five</p>
                            </div>

                            <div class="taxonomyButton">
                                <p class="font-small color-lighGrey-100" data-postType="Live Coverage">Taxonomy six</p>
                            </div>

                            <div class="taxonomyButton">
                                <p class="font-small color-lighGrey-100" data-postType="Live Coverage">Taxonomy seven</p>
                            </div>

                        </div>

                        <h1 class="font-h2 color-white-100">Live Coverage Article Title : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id venenatis neque. Vestibulum facilisis, dui sed eleifend hendrerit, lectus elit egestas dolor, sit amet faucibus purus lectus hendrerit urna. Nulla in velit ut urna ultricies rhoncus eget non ex. Pellentesque condimentum maximus felis. Duis quis porttitor risus, ac eleifend urna. Nullam vitae ligula faucibus, imperdiet magna a, viverra lacus. Nam iaculis metus eget ante condimentum congue. Suspendisse ligula lorem, posuere sit amet dapibus ac, sodales a quam. Duis sit amet condimentum purus, sit amet accumsan nisi. Vestibulum ac viverra nisl. Fusce eu enim diam. Nunc consequat, diam in convallis tristique, urna felis scelerisque lectus, a commodo nisi mi id lorem.</h1>

                        <div class="details">
                            <div class="inner">
                                <div class="date">
                                    <p class="color-lightGrey-100 font-small">DETAILS 31, 2023</p>
                                </div>

                                <div class="tags">

                                    <p class="color-darkGrey-100 font-small">Tag One</p>

                                    <span class="color-darkGrey-100 font-small">/</span>

                                    <p class="color-darkGrey-100 font-small">Tag Two</p> 

                                    <span class="color-darkGrey-100 font-small">/</span>

                                    <p class="color-darkGrey-100 font-small">Tag Three</p> 

                                    <span class="color-darkGrey-100 font-small">/</span>

                                    <p class="color-darkGrey-100 font-small">Tag Four</p> 

                                    <span class="color-darkGrey-100 font-small">/</span>

                                    <p class="color-darkGrey-100 font-small">Tag Five</p> 

                                    <span class="color-darkGrey-100 font-small">/</span>

                                    <p class="color-darkGrey-100 font-small">Tag Six</p> 

                                    <span class="color-darkGrey-100 font-small">/</span>

                                    <p class="color-darkGrey-100 font-small">Tag Seven</p> 

                                    <span class="color-darkGrey-100 font-small">/</span>

                                    <p class="color-darkGrey-100 font-small">Tag Eight</p> 

                                    <span class="color-darkGrey-100 font-small">/</span>

                                    <p class="color-darkGrey-100 font-small">Tag Nine</p> 

                                    <span class="color-darkGrey-100 font-small">/</span>

                                    <p class="color-darkGrey-100 font-small">Tag Ten</p> 

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </main>
    </body>
</html> 