section.ScrollCarousel {
    padding: 0 20px;
}
section.ScrollCarousel > .outer {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}
section.ScrollCarousel > .outer > button.ScrollCarouselButton {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    background-color: #000;
    z-index: 10;
    opacity: 0;
    transition: opacity 200ms ease, padding 200ms ease;
}
section.ScrollCarousel > .outer > button.ScrollCarouselButton.active {
    opacity: 1;
}
section.ScrollCarousel > .outer > button.ScrollCarouselButton.left {
    transform: translate(0, -50%) rotate(180deg);
}
section.ScrollCarousel > .outer > button.ScrollCarouselButton.left:hover {
    padding-left: 20px;
}
section.ScrollCarousel > .outer > button.ScrollCarouselButton.right:hover {
    padding-right: 20px;
}
section.ScrollCarousel > .outer > .inner {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    align-content: center;
    justify-content: start;
    align-items: start;
    transition: transform 200ms ease;
}
section.ScrollCarousel > .outer > .inner > .item {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    width: calc((1310px - 30px) / 2);
    opacity: 0.6;
    transition: opacity 200ms ease;
    position: relative;
}
section.ScrollCarousel > .outer > .inner > .item.active,
section.ScrollCarousel > .outer > .inner > .item.active + .item {
    opacity: 1;
}
section.ScrollCarousel > .outer > .inner > .item.imageItem {
    padding: 0;
}
section.ScrollCarousel > .outer > .inner > .item.imageItem > .imageContainer > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
section.ScrollCarousel > .outer > .inner > .item.videoItem {
    padding: 0;
}

section.ScrollCarousel > .outer > .inner > .item.videoItem > .iframeContainer {
    position: relative;
}
section.ScrollCarousel > .outer > .inner > .item.videoItem > .iframeContainer > iframe {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
section.ScrollCarousel > .outer > .inner > .item.videoItem > .videoContainer {
    position: relative;
}
section.ScrollCarousel > .outer > .inner > .item.videoItem > .videoContainer > video {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
section.ScrollCarousel > .outer > .inner > .item.videoItem > .videoContainer > .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 200ms ease;
    opacity: 1;
}
section.ScrollCarousel > .outer > .inner > .item.videoItem > .videoContainer.active > .thumbnail {
    opacity: 0;
}
section.ScrollCarousel > .outer > .inner > .item.videoItem > .videoContainer > .thumbnail > .playButton {
    position: absolute;
    display: inline-block;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section.ScrollCarousel > .outer > .inner > .item.videoItem > .videoContainer > .thumbnail > .playButton > svg {
    width: 50px;
    height: 50px;
}
section.ScrollCarousel > .outer > .inner > .item.videoItem > .imageContainer > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
section.ScrollCarousel  > .tabContainer {
    display: -ms-grid;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    margin-top: 30px;
}
section.ScrollCarousel  > .tabContainer > .naigationTab {
    width: 20px;
    height: 5px;
    background: #000;
    border-radius: 10px;
    opacity: 0.4;
    transition: opacity 200ms ease;
    cursor: pointer;
}
section.ScrollCarousel  > .tabContainer > .naigationTab.active {
    opacity: 1;

}

@media (max-width: 1200px) {
    section.ScrollCarousel > .outer > .inner > .item.active + .item {
        opacity: 0.6;
    }
}

@media (max-width: 1080px) {
    section.ScrollCarousel {
        padding: 0 20px;
    }
}


@media (max-width: 800px) {
}

@media (max-width: 600px) {
    section.ScrollCarousel > .outer > .inner > .item {
        width: 280px;
    }
}